<main class="contenedor contenedor-formularios">
    <h1><%- nombrePagina %></h1>

    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Correo electr칩nico">
        </div>
        <div class="campo">
            <label>Contrase침a:</label>
            <input type="password" name="password" placeholder="Contrase침a">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar sesi칩n">
        </div>
    </form>
</main>